<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet">
        <script src="/css/script.js"></script>
        <title>Cars</title>
    </head>
    <body class="body">
      <nav class="navigation-bar">
        
          <h3 id="heading">CarZ4All</h3>
      </nav>
      <h3 id="carnamedis"><%= product.carname %></h3>
      <div class="carinfo" >
        
        <img src="<%= product.imageurl %>" class="img" alt="car-image" height="500" width="900">
        
         </div>
         <h3 id="spechead">Specifications </h3>
         <div class="spec">
          <h4 class="field">TyreSize  :  <%= specs.tyresize %></h4>
          <h4 class="field">TankCapcity  : <%= specs.tankcapacity %> </h4>
          <h4 class="field">Suspention   : <%= specs.suspension %></h4>
          
          <h4 class="field">GroundClearance  : <%= specs.groundclearance %> </h4>
          
          <h4 class="field">Dimention    : <%= specs.dimension %></h4>
          
          <h4 class="field">TransmissionType  : <%= specs.transmissiontype %></h4>
          
          <h4 class="field">EmissionStd   : <%= specs.emissionstd %></h4>
          
          <h4 class="field">MaxTorque   : <%= specs.maxtorque %> </h4>
          
          <h4 class="field">MaxPower   : <%= specs.maxpower %></h4>
          
          <h4 class="field">Eng_displacement  : <%= specs.Eng_displacement %></h4>
          
          <h4 class="field">BluetoothAudio  : <%= specs.buletoothaudio %> </h4>
          
          <h4 class="field">GrossWeight  : <%= specs.grossweight %></h4>
          </div>
          <div class="interior">
          <h4 id="in">Interior</h4>
          <button class = "img-btn-prev" onclick="rightrotate(0)">&#10094</button>
            <button class = "img-btn-next" onclick="leftrotate(0)">&#10095</button>
          <img class="pic" id="0" src="<%=product.Iimg1%>" width="400" height="300" style="visibility:visible;">
          <img class="pic1" id="1" src="<%=product.Iimg2%>"  width="400" height="300"  style="visibility:hidden;">
          <img class="pic2" id="2" src="<%=product.Iimg3%>"  width="400" height="300"  style="visibility:hidden;">
          </div>
          <div class="exterior">
            <h4 id="in">Exterior</h4>
            <button class = "img-btn-prev" onclick="rightrotate(1)">&#10094</button>
            <button class = "img-btn-next" onclick="leftrotate(1)">&#10095</button>
            <img class="pic" id="0e" src="<%=product.Eimg1%>" width="400" height="300" style="visibility:visible;">
          <img class="pic1" id="1e" src="<%=product.Eimg2%>"  width="400" height="300"  style="visibility:hidden;">
          <img class="pic2" id="2e" src="<%=product.Eimg3%>"  width="400" height="300"  style="visibility:hidden;">
          </div>